-content_for :sidebar do
  =render :partial => "shared/sidebar"


.body
  %h2 Password Reset 

  - form_tag password_resets_path do
    .field
      = text_field_tag :email, "", :size => 50, :tabindex => "1", :class=>"nice_field"
    .field
      = submit_tag "Reset", :class=>"button"
  .clear