.bundle
.rvmrc
.config/database.yml
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
backups/*
*~
.#*
Capfile
project_notes
config/deploy.rb
config/database.yml
db/schema.rb
public/stylesheets/all.css
public/javascripts/all.js
db/schema.rb
public/system
public/system/*
