-content_for :sidebar do
  =render :partial => "shared/sidebar"
  
.body

  - if permitted_to? :create, :presentations 
    .index_actions
      =# link_to 'New Presentation', new_presentation_path, :class=>"new_link"
      

  -@presentations.each do |p|
    %h3= link_to p.title, presentation_url(p)

    -if p.speaker_name and !p.speaker_name.blank?
      %ul.speaker-details
        %li
          by: 
          -if (p.speaker_link and !p.speaker_link.blank?)
            = link_to p.speaker_name, p.speaker_link, :target=>"_blank"
          -else
            p.speaker_name




     
      = raw p.body 
      
      -if p.attachments and p.attachments.size > 0
        -p.attachments.each do |a|
          =link_to "Download", a.file.url
          
      
      - if permitted_to? :edit, :presentations  
        = link_to 'Edit', edit_presentation_path(p) 
        
  =will_paginate @presentations

     
