* {
 margin: 0;
 padding: 0;	
	position:relative;
}


body {
	line-height: 1;
}
html, body {
	height:100%;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a:focus {
	outline: none!important;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
 background: #c7cacd url('/images/bg.jpg');
 color:#333;	
 text-align:center;

}

#top {
	height:45px;
	width:100%;
	background:#515152 url('/images/nav.jpg');
	color:#FFF;
	text-align:left;
	float:left;
	margin:0;
	padding:0;
	position:relative;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
	color:#8e1414;

}
a:hover {
  color:#790606;
	outline:0;

}

strong {
	font-weight:bold;
}

ul li {
	margin:0;
	padding:0;
	list-style-type:none;
}

.nav {
	width:980px;
	margin:0 auto 0 auto;
	position:relative;
}
.nav ul {
	float:left;
	width:980px;
	margin:0px 0px 0px 10px;
}
.nav ul li {
	list-style-type:none;
	display:inline;
}

.nav ul li a {
	float:left;
	height:45px;	
	line-height:45px;
	margin:0px 34px 0px 0px;
	color:#FFF;
	font-size:18px;
	font-family: Georgia,"Times New Roman",Times,serif;
	display:block;
}
.nav ul li a:hover, .nav ul li a.active, a.email {
	color:#f8c964;
}
a.email:hover {
	text-decoration:underline;
}

#container {
	clear:both;
	width:980px;
	margin:0 auto;	
	text-align:left;
	position:relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px; 
}

#header {
	text-indent:-9999px;
	clear:both;
	height:100px;
	background:url('/images/railsjam2010.png') no-repeat top left;
	position:relative;
}
.content-container {
	margin-top:20px;
}
#bottom-content {
	clear:both;
	min-height:20px;
	height:20px;
	height:auto!important;
	padding-bottom: 45px;	
	float:left;

}
#bottom-content #contact {
	width:690px;
	height:89px;
	float:left;
	display:block;
	background:url("/images/contact_bg_mid.jpg") repeat-x left top;	
	color:#FFF;
}
#bottom-content .contact-mid{
	width:600px;
	height:89px;
	float:left;
	background:url("/images/contact_bg_left.jpg") no-repeat left top;		
	font-size:18px;
}
#bottom-content .contact-right{
	width:40px;
	float:right;
	height:89px;
	display:block;
	background:url("/images/contact_bg_right.jpg") no-repeat right top;		
}

.content-container-top {
	background:url("/images/container_bg_top.jpg") no-repeat left top;
	height:20px;
	width:980px;
}
.text-contact {
	padding:30px 0px 0px 30px;
	font-size:17px;
}
.content-container-mid {
	background:url("/images/container_bg_mid.jpg") repeat  left top ;
	float:left;
	height:auto !important;
	min-height:400px;
	width:980px;
}
.content-container-bottom {
	background:url("/images/container_bg_bottom.jpg") no-repeat  left bottom ;
	clear:both;
	height:20px;
	margin-bottom:20px;
	width:980px;
}
.content-text {
	width:950px;
	margin:0 auto;
	padding:0px 10px 0px 10px;
}
#countdown{
	float:right;
	width:270px;
	margin-right:20px;
	text-align:center;
}
#countdown h4 {
	margin:0;
	padding:0;
	font-size:120%;
}
.red {
	color:#8E1414;
}

#footer, .push {
  height: 40px;	
  clear:both;
}
#footer {
	width: 100%;
  background: #515152;
  position: relative;
  color:#FFF; 
  line-height:40px;
}
#footer, .push {
	clear:both;
}

#footer a {
	color:#fff;
}
#footer a:hover {
	color:#f8c964;
}
.field {
	margin-bottom:10px;
}

form input, form label {
	display:block;
}
form label {
	font-size:16px;
	font-weight:bold;
}


.input {
	width:400px;
  height:30px;
	line-height:30px;
	font-size:18px;
	padding:2px 6px;
	border:1px solid #333;
	color:#551313;
}
.nice_field {
	height:25px;
	line-height:25px;
	border:1px solid #333;
}
.textarea {
	width:900px;
	font-size:18px;
	padding:2px 6px;
	border:1px solid #333;
}
.button {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background:#333;
	color:#eee;
	border:0;
	padding:8px;
	font-size:18px;
}
#errorExplanation h2, #errorExplanation {
	font-size:14px;
	color:red;
}
table {
 background:#eee;
 padding:5px;
 width:950px;
}
table tr{
	border-bottom:1px  dotted #ccc;
}
table tr:hover{
	border-bottom:1px  dotted #b08e8e;
	background:#FFF;
}
table th {
	background:#333;
	color:#FFF;
}
table td, table th{
	padding:10px;
}
#page_published, #post_published, #post_promoted {
	float:left;
	margin:4px 4px 0px 0px;
}
.field {
	clear:both;
	display:block;
}
.actions {
	width:200px;
	float:left;
}
.show-links {
	float:right;
	min-width:30px;
	width:30px;
	width:auto!important;
	font-size:14px;
	margin-right:40px;
}
h1.list {
	float:left;
	
}
.index_actions {
	min-width:30px;
	width:30px;
	float:right;
	width:auto!important;
	margin-right:5px;
}
.index_actions a {
	font-size:18px;
}

#sidebar {
	float:right;
	width:220px;
	margin:0px 10px;
	padding:10px;
	min-height:300px;
	height:300px;
	height:auto!important;
	position:relative;
	background:#f9f9f9;
	border:1px solid #dadada;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	text-align:center;
}
.body {
	float:left;
	width:667px;
	min-height:100px;
	height:100px;
	height:auto!important;
	position:relative;
}
.body h2 {
	font-family: Georgia,"Times New Roman",Times,serif;
	color:#252525;
	border-bottom:1px dotted #ccc;
}
.body h3 {
	font-size:16px;
}

ul.sponsors {
	margin:0px 0px 20px 0px;
  height:auto!important;
	z-index:2;
}
h3.sponsors_text, .about_sponsors_link {
	margin:0px 0px 0px 25px;	
	clear:both;
}
h3.sponsors_text  {
	background:url('/images/sponsors/sponsors_text.jpg') no-repeat top left;
	text-indent:-9999px;
	display:block;
	height:32px;
	width:127px;
	margin-left:40px;
}

ul.sponsors li.exist a {
	background:url('/images/sponsors/sponsor_exist.jpg') no-repeat top left;
	text-indent:-9999px;
	height:71px;
	width:190px;
	display:block;
	margin-left:10px;
}


ul.sponsors li.pragprog a{
	background:url('/images/sponsors/pragprog_small.jpg') no-repeat 25px 10px;
	text-indent:-9999px;
	height:125px;
	width:190px;
	display:block;
	margin-left:10px;
}


ul.sponsors li.devcon a {
	background:url('/images/sponsors/sponsor_devcon.jpg') no-repeat top left;
	text-indent:-9999px;
	display:block;
	height:58px;
	width:190px;
	margin-top:10px;
	margin-left:10px;
}

ul.sponsors li.manning a {
	text-indent:-9999px;
	display:block;
	height:38px;
	/*height:70px; */
	width:190px;
	margin-top:-10px;
	margin-left:40px;
	background:url('/images/sponsors/sponsor_manning.jpg') no-repeat top left;
}

ul.sponsors li.nullpointer a {
	text-indent:-9999px;
	display:block;
	height:38px;
	width:196px;
	margin-top:10px;
	margin-left:30px;
	background:url('/images/sponsors/sponsor_nullpointer.jpg') no-repeat top left;
}


body{
	font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif
}
a:focus{
	outline:1px dotted
}
a:hover {
	background:none;
}
hr{
	border:0 #ccc solid;
	border-top-width:1px;
	clear:both;
	height:0
	}
h1{
	font-size:25px
	}
h2{
	font-size:23px
}
h3{
	font-size:21px
}
h4{
	font-size:19px
}
h5{
	font-size:17px
}
h6{
	font-size:15px
}
ol{list-style:decimal}
ul{list-style:disc}
li{margin-left:30px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:10px}

	
	.inputContainer{position:relative; float:left;}
	.formError {
			position:absolute;
			top:300px; left:300px;
			padding-bottom:13px;
			display:block;
			z-index:5000;
			cursor:pointer;
		}
			#debugMode{
				background:#000;
				position:fixed;
				width:100%; height:200px;
				top:0; left:0;
				overflow:scroll;
				opacity:0.8;
				display:block;
				padding:10px;
				color:#fff;
				font-size:14px;
				z-index:100000;
			}
		
			.ajaxSubmit{ padding:20px; background:#55ea55;border:1px solid #999;display:none}
			.formError .formErrorContent {
				width:100%; 
				background:#ee0101;
				color:#fff;
				width:150px;
				font-family:tahoma;
				font-size:11px;
				border:2px solid #ddd;
				box-shadow: 0px 0px 6px #000;
				-moz-box-shadow: 0px 0px 6px #000;
				-webkit-box-shadow: 0px 0px 6px #000;
				padding:4px 10px 4px 10px;
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
			}
			.greenPopup .formErrorContent {background:#33be40;}
			
			.blackPopup .formErrorContent {background:#393939;color:#FFF;}
			
			.formError .formErrorArrow{
				width:15px;
				margin:-2px 0 0 13px;
				z-index:5001;
			}
			.formError .formErrorArrowBottom{top:0;margin:-6px;}
			
				.formError .formErrorArrow div{
					border-left:2px solid #ddd;
					border-right:2px solid #ddd;
					box-shadow: 0px 2px 3px #444;
					-moz-box-shadow: 0px 2px 3px #444;
					-webkit-box-shadow: 0px 2px 3px #444;
					font-size:0px; height:1px; background:#ee0101;margin:0 auto;line-height:0px; font-size:0px; display:block;
				}
					.formError .formErrorArrowBottom div{
						box-shadow: none;
						-moz-box-shadow: none;
						-webkit-box-shadow: none;
					}
					
				.greenPopup .formErrorArrow div{background:#33be40;}
				.blackPopup .formErrorArrow div{background:#393939;color:#FFF;}

				.formError .formErrorArrow .line10{width:15px;border:none;} 
				.formError .formErrorArrow .line9{width:13px;border:none;} 
				.formError .formErrorArrow .line8{width:11px;} 
				.formError .formErrorArrow .line7{width:9px;} 
				.formError .formErrorArrow .line6{width:7px;} 
				.formError .formErrorArrow .line5{width:5px;} 
				.formError .formErrorArrow .line4{width:3px;} 
				.formError .formErrorArrow .line3{width:1px;
					border-left:2px solid #ddd;
					border-right:2px solid #ddd;
					border-bottom:0px solid #ddd;} 
				.formError .formErrorArrow .line2{width:3px;border:none;background:#ddd;}
				.formError .formErrorArrow .line1{width:1px;border:none;background:#ddd;}  