* {
 margin: 0;
 padding: 0;	
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
html, body {
	height:100%;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a:focus {
	outline: none!important;
}

ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
 background: #c7cacd url('/images/bg.jpg');
 color:#333;	
 text-align:center;

}

#top {
	height:45px;
	width:100%;
	background:#515152 url('/images/nav.jpg');
	color:#FFF;
	text-align:left;
	float:left;
	margin:0;
	padding:0;
	position:relative;
}
.clear {
	clear:both;
}
a {
	text-decoration:none;
	color:#8e1414;

}
a:hover {
  color:#790606;
	outline:0;

}

strong {
	font-weight:bold;
}

ul li {
	margin:0;
	padding:0;
	list-style-type:none;
}

.nav {
	width:980px;
	margin:0 auto 0 auto;
	position:relative;
}
.nav ul {
	float:left;
	width:980px;
	margin:0px 0px 0px 10px;
}
.nav ul li {
	list-style-type:none;
}

.nav ul li a {
	float:left;
	height:45px;	
	line-height:45px;
	margin:0px 34px 0px 0px;
	color:#FFF;
	font-size:18px;
	font-family: Georgia,"Times New Roman",Times,serif;
	display:block;
}
.nav ul li a:hover {
	color:#f8c964;
}

#container {
	clear:both;
	width:980px;
	margin:0 auto;	
	text-align:left;
	position:relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px; 
}

#header {
	text-indent:-9999px;
	clear:both;
	height:100px;
	background:url('/images/railsjam2010.png') no-repeat top left;
	position:relative;
}
.content-container {
	margin-top:20px;
	padding-bottom: 40px;
}

.content-container-top {
	background:url("/images/container_bg_top.jpg") no-repeat left top;
	height:20px;
	width:980px;
}
.content-container-mid {
	background:url("/images/container_bg_mid.jpg") repeat  left top ;
	float:left;
	height:auto !important;
	min-height:400px;
	width:980px;
}
.content-container-bottom {
	background:url("/images/container_bg_bottom.jpg") no-repeat  left bottom ;
	clear:both;
	height:20px;
	margin-bottom:20px;
	width:980px;
}
.content-text {
	width:950px;
	margin:0 auto;
	padding:0px 10px 0px 10px;
}
#footer, .push {
  height: 40px;	
}
#footer {
	width: 100%;
  background: #515152;
  position: relative;
  color:#FFF; 
  line-height:40px;
}
#footer, .push {
	clear:both;
}

#footer a {
	color:#fff;
}
#footer a:hover {
	color:#f8c964;
}
.field {
	margin-bottom:10px;
}

form input, form label {
	display:block;
}
form label {
	font-size:16px;
	font-weight:bold;
}


.input {
	width:400px;
  height:30px;
	line-height:30px;
	font-size:18px;
	padding:2px 6px;
	border:1px solid #333;
	color:#551313;
}
.textarea {
	width:900px;
	font-size:18px;
	padding:2px 6px;
	border:1px solid #333;
}
.button {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	background:#333;
	color:#eee;
	border:0;
	padding:8px;
	font-size:18px;
}
table {
 background:#eee;
 padding:5px;
 width:950px;
}
table tr{
	border-bottom:1px  dotted #ccc;
}
table tr:hover{
	border-bottom:1px  dotted #b08e8e;
	background:#FFF;
}
table th {
	background:#333;
	color:#FFF;
}
table td, table th{
	padding:10px;
}
#page_published {
	float:left;
	margin:4px 4px 0px 0px;
}
.field {
	clear:both;
	display:block;
}
.actions {
	width:200px;
	float:left;
}
.show-links {
	float:right;
	min-width:30px;
	width:30px;
	width:auto!important;
	font-size:14px;
	margin-right:40px;
}
h1.list {
	float:left;
	
}
.index_actions {
	min-width:30px;
	width:30px;
	float:right;
	width:auto!important;
	margin-right:5px;
}
.index_actions a {
	font-size:18px;
}

#sidebar {
	float:right;
	width:220px;
	margin:0px 10px;
	padding:10px;
	min-height:100px;
	height:100px;
	height:auto!important;
	position:relative;
	background:#f9f9f9;
	border:1px solid #dadada;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}
.body {
	float:left;
	width:667px;
	min-height:100px;
	height:100px;
	height:auto!important;
	position:relative;
}


/* Sponsors */
ul.sponsors {
	margin:0px 0px 0px 17px;
}
h3.sponsors_text, .about_sponsors_link {
	margin:0px 0px 0px 25px;	
}
h3.sponsors_text  {
	text-indent:-9999px;
	display:block;
	height:32px;
	width:127px;
	background:url('/images/sponsors/sponsors_text.jpg') no-repeat top left;
}

ul.sponsors li.exist a {
	text-indent:-9999px;
	display:block;
	height:71px;
	width:190px;
	background:url('/images/sponsors/sponsor_exist.jpg') no-repeat top left;
}

ul.sponsors li.pragprog a {
	text-indent:-9999px;
	display:block;
	height:133px;
	width:190px;
	background:url('/images/sponsors/sponsor_pragprog.jpg') no-repeat top left;
}

ul.sponsors li.ibm a {
	text-indent:-9999px;
	display:block;
	height:71px;
	width:190px;
	background:url('/images/sponsors/sponsor_ibm.jpg') no-repeat top left;
}