%ul
  %li
    =link_to "Home", "/"
  %li
    =link_to "About", "/"
  %li 
    =link_to "Events", "/"
  %li 
    =link_to "Speakers", "/"
  %li 
    =link_to "Sponsors", "/"
  %li 
    =link_to "Register", "/"
  %li 
    =link_to "Contact", "/"
    