%ul
  %li
    =link_to "Home", "/"
  %li
    =link_to "About", "/about"
  %li 
    =link_to "Events", "/events"
  %li 
    =link_to "Speakers", "/speakers"
  %li 
    =link_to "Sponsors", "/sponsors" 
  -if current_user
    %li
      =link_to "Manage Pages", pages_url
    %li
      =link_to "Manage Posts", posts_url
    %li
      = link_to "Logout", logout_url
  -#%li 
    =#link_to "Register", "/"
  -#%li 
    =#link_to "Contact", "/"
    