#sidebar
  %h3.sponsors_text Sponsors
  %ul.sponsors
    %li.exist=link_to "Exist Global", "http://www.exist.com/", :target=>"_blank"  
    %li.pragprog=link_to "Pragmatic Programmers", "http://pragprog.com/", :target=>"_blank"  
    %li.ibm=link_to "IBM", "http://www.ibm.com/ph/en/", :target=>"_blank"  