#sidebar
  %h3.sponsors_text Sponsors
  %ul.sponsors
    %li.exist=link_to "Exist Global", "http://www.exist.com/", :target=>"_blank"   
    %li.devcon=link_to "DevCon", "http://www.devcon.ph/", :target=>"_blank"  
    %li.pragprog=link_to "Pragmatic Programmers", "http://pragprog.com/", :target=>"_blank"  
    %li.manning=link_to "Manning Publications Co.", "http://www.manning.com/", :target=>"_blank" 
    %li.nullpointer=link_to "Nullpointer.ph", "http://www.nullpointer.ph/", :target=>"_blank" 
  =link_to "Read About The Sponsors", "/sponsors", :class=>"about_sponsors_link"