%table
  %tr
    %th No. 
    %th Name
    %th Email
    %th Has Laptop
    %th OS
   
  -@attendees.each do |a|
    %tr
      %td=@attendees.index(a)+1
      %td=a.user.name
      %td=a.user.email
      %td=a.has_laptop ? "Yes" : "No"
      %td=a.preferred_os