-content_for :sidebar do
  =render :partial => "shared/sidebar"

.body 

  -@posts.each do |p|
    %h1.post-title=p.title
    .details
      =p.created_at.to_s(:with_time)
    -short_post = truncate(p.body, :length=>250)
    = raw RedCloth.new(short_post).to_html
    =link_to "Read More", post_url(p)
  .clear
  = link_to image_tag('/images/feed_icon.png'), posts_url(:rss), :class=>"rss"