.body
  %h2 New Event

  - form_for(@event) do |f|
    = render "shared/error_messages", :target => @event
    .field
      = f.label :name
      = f.text_field :name, :class=>"nice_field"
    = f.submit "Create", :class=>"button"
  %br/