-content_for :sidebar do
  =render :partial => "shared/sidebar"
  
.body
  %h2= @event.name
  = flash[:notice] unless flash[:notice].nil?
  %p
    = @event.description
  -if current_user
    -unless Attendee.is_registered(current_user.id,@event.id)
      = link_to 'Sign-Up', new_event_attendees_path(@event), :class=>"button"
    -else
      %p.notice Hey thanks, you've already signed up for this event.