%h1 
  Editing 
  =@page.title 
  Page


= render 'form'

.show-links
  = link_to 'Show', @page
  \|
  = link_to 'Back', pages_path
  \|
  = link_to 'Help', "http://redcloth.org/textile/writing-paragraph-text/", :target=>"_blank"