%p Greetings. We've encountered some issues earlier and we apologize for this issue. 
%p Our records say you are a registered user but have not signed up for the event. Please sign up for the event. Thanks. See you there! 
%p=link_to "RailsJam Events", events_url  
 