-content_for :sidebar do
  =render :partial => "shared/sidebar"
.body
  %h2
    = @post.title

  = raw RedCloth.new(@post.body).to_html
  
  
  - if @current_user and @current_user.user_type=="Admin"
    = link_to 'Edit', edit_post_path(@post) 
    \|
    = link_to 'Back', "javascript: history.go(-1)"
